.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los botones */
    margin-top: 10px; /* Espacio entre los botones y la lista de posiciones */
}

.add-position-button,
.register-button,
.undo-button {
    padding: 10px; /* Asegúrate de que todos los botones tengan el mismo padding */
    border-radius: 4px;
    cursor: pointer;
}

.add-position-button {
    background-color: #64abf8;
    color: #fff;
    border: none;
}

.add-position-button:hover {
    background-color: #3697ff;
}

.register-button {
    background-color: #697bca;
    color: #fff;
    border: none;
}

.register-button:hover {
    background-color: #465fce;
}

.undo-button {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.undo-button:hover {
    background-color: #218838;
}