.election-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    align-items: center;
  }
  
.election-name {
    font-weight: bold;
}
  
.election-date {
    text-align: right;
}