.navbar-user-election{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    
    height: 2.6em;

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
}

.logo-with-name{
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease;
}

.logo-with-name:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.diafanis-logo{
    size: 1em;
}

.diafanis-title {
    margin-top: 0.3em;
    font-size: 1.5em;
}