.HeadContent {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding-top: calc(5em + var(--navbar-height));
  padding-bottom: 5em;
  background-color: var(--secondary-color);
}