
.HeadContent {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--secondary-color);
}

.HeadContent-title, .HeadContent-text {
  margin: 0;
  color: #EFF0F7;
  height: fit-content;
}

.HeadContent-title {
  font-size: 3em;
}

.HeadContent-text {
  font-size: 1.5em;
}
