.subTitle-text{
    margin: 0 0;
    margin-left: 4vw;
    width: fit-content;
    color: var(--primary-color);
    font-size: 1.7em;
}

.subTitle{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

