.my-lists {
    font-family:Arial, Helvetica, sans-serif;
}

.my-lists-title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #020246;
}

.add-list-button{
    padding: 0.8em;
    font-weight: 700;
    background-color: #7aafff;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.add-list-button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.lists-container {
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.lists-container li {
    border-bottom: 1px solid #494949;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.lists-container li:last-child {
    border-bottom: none;
}

.lists-container li:hover {
    background-color: #c2e7ff;
    cursor: pointer;
}

.list-data {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
  
.list-name {
    font-weight: bold;
}

.list-data {
    margin-bottom: 15px;
}

.list-name {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.modal-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-button:hover {
    background-color: #0056b3;
}

.list-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}