.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
    height: 40px;
    margin-left: 10px;
}

.navbar-logo:hover {
    cursor: pointer;
}

.go-back-button {
    background-color: var(--secondary-color);
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.go-back-button:hover {
    filter: brightness(85%);
}

.hamburger-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f0f8ff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 20px;
    z-index: 10;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar .navbar-title {
    font-size: 30px;
    margin-bottom: 5px;
    color: var(--primary-color);
    font-weight: 600;
}

.nav-items {
    list-style: none;
    padding: 0;
}

.sidebar .nav-item {
    padding-top: 15px;
    color: #243f68;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
}

.sidebar .nav-item::after {
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient(to right, #cbcfd3, #8e96a1, #cbcfd3);
    margin-top: 10px;
}

.sidebar .nav-item.active {
    color: #4b9cd3;
    position: relative;
}

.sidebar .nav-item.active::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 5px;
    height: 90%;
    width: 5px;
    background-color: #4b9cd3;
}