.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #60a5ff;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-title-section {
    background-color: rgb(221, 236, 250);
    padding: 10px 15px;
    border-right: 2px solid #243f68;
}

.navbar-title {
    margin: 0;
    color: rgb(137, 144, 170);
    font-weight: 600;
    font-size: 1em;
}
  
.nav-items {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    padding-left: 20px;
}
  
.nav-item {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
}
  
.nav-item:hover {
    color: #e2f3fa;
}
  