.my-tables {
    font-family:Arial, Helvetica, sans-serif;
}

.my-tables-title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #020246;
}

.add-table-button{
    padding: 0.8em;
    font-weight: 700;
    background-color: #7aafff;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.add-table-button:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.tables-container {
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tables-container li {
    border-bottom: 1px solid #494949;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.tables-container li:last-child {
    border-bottom: none;
}

.tables-container li:hover {
    background-color: #c2e7ff;
    cursor: pointer;
}

.table-data {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
  
.table-location {
    font-weight: bold;
}

.table-id {
    font-weight: bold;
}