/* Main container styles */
.main-container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 95%;
    height: 90%;
    min-height: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 5%;
    margin-top: 5%;
    overflow-y: auto;
}

/* Row container styles */
.row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    margin-top: 8%;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 8%;
}

/* Container for text elements */
.texts-container {
    display: flex;
    flex-direction: row;
    width: 100%;

}

/* Individual text container */
.text-container {
    display: flex;
    flex-direction: row;
    min-width: 45%;
    width: 45%;
    border: 2px solid #ccc;
    width: fit-content;
    align-self: center;
    justify-content: start;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 auto;
    
}

.text-full-container {
    display: flex;
    flex-direction: row;
    min-width: 95%;
    
    max-width: 100%;
    border: 2px solid #ccc;
    width: fit-content;
    align-self: center;
    justify-content: start;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 5%;
    
}


/* Title field styles */
.title-field {
    font-size: 1.2rem;
    width: 20%;
    font-weight: bold;
    margin-right: 3%;
    color: #020246;
    visibility: hidden;
}

/* Output field styles */
.output-field {
    margin: auto auto;
    font-size: 1rem;
    width: 80%;
    color: #020246;
    word-wrap: break-word;
    visibility: hidden;
}



.mantine-Carousel-container{
    min-height: 80%;
    min-width: 100%;
    
}

.mantine-Carousel-slide{
    min-height: 80%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.mantine-Carousel-viewport{
    min-height: 80%;
    min-width: 100%;
  
}
.mantine-Carousel-root{
    background-color: #FFFFFF;
}