.footer-text{
    margin: 0 auto;
    width: fit-content;
    color: #020246;
    font-size: 1.3em;
    opacity: 100%;
}

.footer{
    background-color: #D3D3D3;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 70%;
    min-width: 400em;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-self: flex-center;
    justify-self: center;
    min-height: 4.25em;
   
}